<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<p>Le contact a bien été supprimé</p>

<div align="center">
    <a th:href="@{/delete}"><button class="btn btn-primary">Retour</button></a>
    <a th:href="@{/}"><button class="btn btn-primary">Home</button></a>
</div>

</body>
</html>